.main {
    margin-left: 270px;
    min-height: 100vh;
    transition: margin-left 0.2s ease;
    padding-top: 80px;
    
}
.main.active {
    margin-left: 80px;
}

.main-content {
    margin: 30px;
}