.table__info h6 {
  font-weight: 500;
}


.fw-medium {
  font-weight: 500;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: inline-block;
}

.table__info {
  margin: 8px 0px 0px 8px;
}

.pre--btn {
  fill: var(--white);
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  padding: 6px 12px;
  border-radius: 5px;
}

.table__info span {
  font-size: 12px;
}
.rdt_TableRow {
  border-left: 1px solid var(--border1);
  border-right: 1px solid var(--border1);
  border-bottom: 1px solid var(--border1);
}
.rdt_TableCol,
.rdt_TableCell {
  border-right: 1px solid var(--border1);
}
.rdt_TableHeadRow {
  border: 1px solid var(--border1);
}
.rdt_TableHeadRow,
.rdt_TableRow {
  padding: 7px 0;
}

.rdt_Pagination .sc-llJcti {
  border: 1px solid var(--border1);
  border-radius: 4px;
  justify-content: start !important;
  left: 25px !important;
  padding: 5px;
  position: absolute;
  top: 35px;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.data-table-extensions .data-table-extensions-action {
  display: none;
}
.data-table-extensions .data-table-extensions-filter {
  float: right !important;
}
.data-table-extensions > .data-table-extensions-filter > .filter-text {
  background-color: transparent !important;
  border: 1px solid var(--border1) !important;
  border-radius: 7px;
  margin-left: -11px !important;
  outline: none !important;
  padding: 0.375rem 0.75rem !important;
}
.data-table-extensions > .data-table-extensions-filter > .icon {
  display: none !important;
}
