.sidebar {
  position: fixed;
  width: 270px;
  z-index: 9999;
  height: 100%;
  border-right: 1px solid var(--border1);
  transition: left 0.2s ease, width 0.2s ease;
  background-color: var(--white);
}

.sidebar__header {
  border-bottom: 1px solid var(--border1);
  border-right: 1px solid var(--border1);
  height: 80px;
  position: fixed;
  background: var(--white);
  justify-content: center;
  align-items: center;
  width: 270px;
  z-index: 99;
}

.sidebar__header img {
  height: 35px;
}
.sidebar__menu {
  overflow-y: scroll;
  height: 100%;
  padding-top: 80px;
}
.sidebar__category {
  color: var(--blue1);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 11px;
  margin-bottom: 8px;
  margin-top: 24px;
  font-weight: 500;
  padding: 5px 30px 5px;
  opacity: 0.7;
}
.sidebar__link {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 30px;
  font-size: 14px;
  transition: border-left-color 0.3s ease, background-color 0.3s ease;
  color: var(--blue2);
  border-radius: 0 60px 60px 0;
  margin: 2px 25px 2px 0;
}

.sidebar.active,
.sidebar.active .sidebar__header {
  width: 80px;
}

.sidebar__icon {
  color: var(--blue2);
  font-size: 18px;
  margin-right: 5px;
}

.sidebar__subitem {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 8px;
  font-size: 13px;
  color: var(--blue1);
}

.sidebar__submenu {
  padding: 5px 30px;
  padding-left: 20px;
  margin-left: 26px;
}

.sidebar.active .sidebar__item,
.sidebar.active .sidebar__category,
.sidebar.active .sidebar__submenu {
  display: none;
}

.sidebar__arrow {
  position: absolute;
  right: 15px;
}

.sidebar__arrow svg {
  font-size: 12px;
}
